<h1>all_user</h1>
<div id="showUserMenu">
  <% @users.each do |show_user| %>
    <% @show_user = show_user %>
    <div class="user_list">
      <a href="/profile/<%= @show_user.id %>"><%= @show_user.username %></a>
    </div>
  <% end %>
</div>
