<p>Please Log in</p>

<div id="loginBox" class="userIntake">
  <form class="logForm" method="post" action="sign_in">
    <p>Username: <input type="text" name="username" value="XiXi123"></p><br>
    <p>Password: <input type="text" name="password" value="Luo"></p><br>
    <input type="submit" value="Submit">
  </form>
</div>


<p>Not a User? Please sign up <a href="/new_user">here</a>!</p>
