<p>Not a User? Please sign up!</p>
<div id="signupBox" class="userIntake">
  <p>Please Sign up!</p>
  <form class="logForm" method="post" action="sign_up">
    <p>Username: <input type="text" name="username" value=""></p><br>
    <p>Password: <input type="text" name="password" value=""></p><br>
    <p>firstname: <input type="text" name="firstname" value=""></p><br>
    <p>lastname: <input type="text" name="lastname" value=""></p><br>
    <p>usertype: <input type="text" name="usertype" value=""></p><br>
    <p>email: <input type="text" name="email" value=""></p><br>
    <input type="submit" value="Submit">
  </form>
</div>
